<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>AddressServlet</servlet-name>
        <servlet-class>com.electra.web.servlet.AddressServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddressServlet</servlet-name>
        <url-pattern>/submit_address</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BrandServlet</servlet-name>
        <servlet-class>com.electra.web.servlet.BrandServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BrandServlet</servlet-name>
        <url-pattern>/submit_brand</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SupplierServlet</servlet-name>
        <servlet-class>com.electra.web.servlet.SupplierServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SupplierServlet</servlet-name>
        <url-pattern>/submit_supplier</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>com.electra.web.servlet.ProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/submit_product</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CustomerServlet</servlet-name>
        <servlet-class>com.electra.web.servlet.CustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerServlet</servlet-name>
        <url-pattern>/submit_customer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OrdersServlet</servlet-name>
        <servlet-class>com.electra.web.servlet.OrdersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrdersServlet</servlet-name>
        <url-pattern>/submit_order</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>com.electra.web.servlet.PaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/submit_payment</url-pattern>
    </servlet-mapping>
</web-app>